<body>
    <div class-"row mt-5 mb-2">
        <h1>aaaaaaaaaa</h1>


        <p><a class="btn btn-warning"  href="~/Cars/List">All</a></p>
       
        <p> <a href="~/Cate/Index"><img src="~/Img/Jap.jfif" alt="Пример"></a> </p>
        <p> <a href="~/Ger/Estus"><img src="~/Img/Ger.jfif" alt="Пример"></a> </p>
    </div>
</body>