<!DOCTYPE html>


<link href="~/CSS/StyleSheetHomePage.css" rel="stylesheet" type="text/css" />
<html>
<body>
    <div class-"row mt-5 mb-2">
        <h1>Auto shop</h1>

        <p><button onclick="window.location.href = 'https://localhost:44336/Cars/ShowCarsByCategory?id=1';" class="button" style="vertical-align:middle"><span>>German </span></button></p>
        <p><button onclick="window.location.href = 'https://localhost:44336/Cars/ShowCarsByCategory?id=2';" class="button" style="vertical-align:middle"><span>>Japanese </span></button></p>
        <p><button onclick="window.location.href = 'https://localhost:44336/Cars/ShowCarsByCategory?id=3';" class="button" style="vertical-align:middle"><span>>Russian </span></button></p>
    </div>
</body>

</html>