@*@model Cars.Data.Model.Car*@

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Edit Car «@Model.CarId»</h2>
<h2>Edit Car «@Model.CarId»</h2>
<div class="panel">
    @using (Html.BeginForm("Edit", "AdminPanel"))
    {
        @Html.EditorForModel()
        <input type="submit" value="Save" />
        @Html.ActionLink("Cancel changes and go back", "Index")
    }

</div>
   